@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.url
 { 
    color: #0000ff !important;
    font-weight:bold!important;
    cursor: pointer !important;
    text-decoration: underline !important;
    margin-bottom:1px!important;
    margin-top:7px!important;
    margin-left:5px!important;

}
.url:hover
 { 
    color: #ff0000 !important;
    font-weight:bold!important;
    margin-bottom:1px!important;
    margin-top:7px!important;
    margin-left:5px!important;
}

.padded 
 { 
    margin-bottom:2px!important;
    margin-top:2px!important;
    font-weight:bold;
}

.desc
 { 
    margin-bottom:2px!important;
    margin-left:5px!important;

}

vbox 
 { 
	margin-right:5px!important;
}

.bettergmail-scriptdeets
 { 
	margin-left:5px!important;
}

.scroll
 { 
	height:25em!important;
	overflow:auto!important;
	width:100%!important;
}